<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bán vé - TravelSky</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/employeestyles.css">
    <script src="/static/javascript/script.js"></script>
</head>
<body>

<header class="navbar">
    <a href="/" class="logo">TravelSky</a>
        <nav class="menu">
            <a href="/logout" class="btn-primary">Đăng xuất</a>
        </nav>
</header>

<main class="main-container">
    <div class="_sidebar">
        <ul class="menu-list">
            <li><a href="/employee_sell_ticket" class="menu-item">Bán vé</a></li>
            <li><a href="/employee_flight_search" class="menu-item">Tra cứu chuyến bay</a></li>
            <li><a href="/employee_schedule_flight" class="menu-item">Lập lịch chuyến bay</a></li>
        </ul>
    </div>

    <div class="sell_ticket_content">
        <h2>Bán vé</h2>
        <form method="POST" action="/employee_sell_ticket">
            <label for="flight">Chọn chuyến bay:</label>
            <select id="flight" name="flight" required>
                 <option value="" disabled selected>Chọn chuyến bay</option>
                {% for flight in flights %}
                 <option value="{{ flight.maChuyenBay }}">{{ flight.maChuyenBay }}</option>
                {% endfor %}
            </select>

            <label for="name">Họ tên:</label>
            <input type="text" id="name" name="name" required>

            <label for="id_card">CMND/CCCD:</label>
            <input type="text" id="id_card" name="id_card" required>

            <label for="phone">Điện thoại:</label>
            <input type="tel" id="phone" name="phone" required>

             <label for="seat_map">Sơ đồ ghế:</label>
            <div id="seat_map">
            {% for seat in seats %}
            {% endfor %}
             </div>

        <!-- Input ẩn để gửi số ghế đã chọn -->
        <input type="hidden" id="seat_selected" name="seat_selected">


            <label for="price">Giá tiền:</label>
            <input type="text" id="price" name="price" readonly>

            {%if err_msg%}
            <div class="alert alert-danger">{{err_msg}}</div>
            {%endif%}
            <button type="submit" class="btn-primary">In vé bán</button>

        </form>
    </div>
</main>

<footer>
    <p>© 2024 TravelSky - Đặt vé máy bay dễ dàng và nhanh chóng</p>
</footer>

</body>
</html>
