<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Trang Quản trị - TravelSky</title>
    <link rel="stylesheet" href="/static/css/adminstyles.css">
</head>
<body>

<header class="navbar">
    <a href="/" class="logo">TravelSky - Quản trị viên</a>
        <nav class="menu">
            <a href="/logout" class="btn-primary">Đăng xuất</a>
        </nav>
</header>

<main class="main-container">


    <div class="admin-menu">
        <ul class="menu-list">
            <li><a href="/admin_manage_employees" class="menu-item">Quản lý nhân viên</a></li>
            <li><a href="/admin_report_statistics" class="menu-item">Thống kê báo cáo</a></li>
            <li><a href="/admin_change_regulations" class="menu-item">Thay đổi quy định</a></li>
            <li><a href="/admin_manage_flights" class="menu-item">Quản lý chuyến bay</a></li>
            <li><a href="/admin_manage_routes" class="menu-item">Quản lý tuyến bay</a></li>
        </ul>
    </div>
</main>

<footer>
    <p>© 2024 TravelSky</p>
</footer>

</body>
</html>
