<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập - TravelSky</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<header class="navbar">
  <a href="/" class="logo">TravelSky</a>
</header>

<main >
    <section class="login-form">
        <h1>Đăng nhập</h1>
        <form action="/login" method="post">
          <label for="role">Bạn là: </label>
            <select id="role" name="role" class="select-login" required>
                <option value="customer">Khách hàng</option>
                <option value="employee">Nhân viên</option>
            </select>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Nhập email của bạn">

            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" required placeholder="Nhập mật khẩu của bạn">
            {%if err_msg%}
            <div class="alert alert-danger">{{err_msg}}</div>
            {%endif%}
            <button type="submit" class="btn-primary">Đăng nhập</button>

            <p>Bạn chưa có tài khoản? <a href="/register">Đăng ký ngay</a></p>
        </form>
    </section>
</main>

<footer>
    <p>© 2024 TravelSky - Đặt vé máy bay dễ dàng và nhanh chóng</p>
</footer>

</body>
</html>
