{% extends 'admin/master.html' %}

{% block body %}
{%if current_user.is_authenticated %}
    <img src="{{current_user.avatar}}" width="25" class="fluid rounded">
    <h3>Chào {{current_user.name}}</h3>
{%else%}
<h1>TRANG QUẢN TRỊ</h1>
<form method="post" action="/login-admin">
    <div class="form-group mb-3 mt-3">
        <label for="email">Tài khoản</label>
        <input type="text" class="form-control" id="email" placeholder="Nhập email" name="email"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

    </div>

    <div class="form-group mt-3 mb-3">
        <label for="password">Nhập mật khẩu</label>
        <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password" required>

    </div>


    <div class="form-group mt-3 mb-3">
        <button class="btn btn-success" type="submit">Đăng nhập</button>
    </div>
</form>
{%endif%}

{% endblock %}